header {
    height: 90vh;
    color: white;
    
    .cover {
        background-color: rgba(250, 250, 252, 0.1);
        height: 100%;
        width: 100%;
        padding-top: 2rem;
    }
    nav {
        height: 8vh;
        button {
            border: 1px solid white;
        }
        ul {
            
            li {
                margin: 0 2rem;
                a {
                    color: white !important;
                    font-weight: 700;
                }
                a:hover, .login {
                    border-bottom: 1px solid white;
                }
            }
        }
        form {
            align-items: center;
            a, a:hover {
                color: white;
                font-weight: 700;
                margin: 0 2rem;
                text-decoration: none;
                box-sizing: border-box !important;
            }
            .signup {
                border: 1px solid white;
                border-radius: 5px;
                padding: .5rem 1rem;
            }
        }
    }
}